<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo3.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="icon" href="/img/icon.png">
    {{{style}}}
    <title>StreetWise Tattoo Management - {{title}}</title>
</head>
<body>
    
<header class="header">
        <div class="left-section">
        </div>
        <div class="middle-section">
            <img class="street-name" src="/img/streetwise-name.svg">
        </div>
        <div class="right-section">
            <div class="profile-hud">
                <img class="profile-img" src="/img/profile.svg">
                <div class="profile-text">
                    <div class="profile-nome">Placeholder</div>
                    <div class="profile-cargo">Administrador</div>
                </div>

            </div>
            
        </div>
    </header>

  <input type="checkbox" id="caixa" nome="caixa">
  <nav class="sidebar" id="sidebar-offcanvas">
    
    <div class="option-container">
      <div class="option-flex">
        <div class="option-hamburguer">
          <label for="caixa">
            <i id="toggle-btn" class="bi bi-list icon-white"></i></label>
        </div>
        <div  id="gear" class="option-gear">
          <li class="dropdown dropdown-list ">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-gear icon-white abc"></i>
            </a>
            <ul class="dropdown-menu ">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-key"></i>
                  <span >Alterar senha</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-box-arrow-right icon-drop"></i>
                  <span>Sair</span>
                </a>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>

    <div class="logo-container" id="logo-animation">
      <img id="logo-expended" class="logo-img" src="/img/logo.svg">
      <img id="logo-small" class="logo-img-small" src="/img/logo-small.svg">
    </div>

    <nav class="nav-container">
      <ul class="nav-list">
        <li class="nav-item nav-item-box-down">
          <a class="nav-link" href="dashboard">
            <i class="bi bi-graph-up-arrow icon-white"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item nav-item-box-down">
          <a class="nav-link" href="index.html">
            <img class="bi icon-white" src="/img/Vector.svg">
            <span class="menu-title">Agenda</span>
          </a>
        </li>
        <li class="nav-item nav-item-box-down">
          <a class="nav-link" href="listar-estoque">
            <i class="bi bi-box-seam icon-white nav-icon"></i>
            <span class="menu-title">Estoque</span>
          </a>
        </li>
        <li class="nav-item nav-item-box-down">
          <a class="nav-link" href="listar-colaboradores">
            <i class="bi bi-people abc icon-white"></i>
            <span class="menu-title">Colaboradores</span>
          </a>
        </li>
        <li class="nav-item nav-item-box-down">
          <a class="nav-link" href="listar-cliente">
            <i class="bi bi-people abc icon-white"></i>
            <span class="menu-title">Clientes</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="listar-usuarios">
            <i class="bi bi-person-workspace abc icon-white"></i>
            <span class="menu-title">Usuários</span>
          </a>
        </li>
      </ul>
    </nav>
  </nav>

  {{{body}}}
  {{{script}}}
    
  <script>
    var isToggled = false;
    var titles = document.getElementsByClassName("menu-title")

    document.getElementById("toggle-btn").onclick = () => {
      if (!isToggled) {
        setTimeout(() => {
          document.getElementById("logo-expended").style.display = "none"
          document.getElementById("logo-small").style.display = "inline-block"
          document.getElementById("gear").style.display = "none"
                    document.getElementById("gear").style.display = "none"

          for(var i = 0; i<titles.length; i++) {
            titles[i].style.display = "none"
          }
        }, 5)  
        setTimeout(() => {
          document.getElementById("sidebar-offcanvas").style.width = "64px"
        }, 0)
        
      } else {
        // document.getElementById("logo-expended").style.display = "inherit"
        setTimeout(() => {
          document.getElementById("logo-expended").style.display = "inline-block"
          document.getElementById("logo-small").style.display = "none"
          document.getElementById("gear").style.display = "inline-block"
          
          for(var i = 0; i<titles.length; i++) {
            titles[i].style.display = "inline-block"
          }
        }, 300)
        setTimeout(() => {
          document.getElementById("sidebar-offcanvas").style.width = "150px"
        }, 0)
      }
      isToggled = !isToggled;

    }


  </script>
</body>
</html>