<div class="main-panel">
  <div class="content-wrapper bg-transparent">
    <div class="row">
      <div class="col-lg-12  grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto pasta-ordem">
            <a href="/agenda" >Agenda</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/novo-agendamento">Novo Agendamento</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/listar-evento">Novo Agendamento</a>
          </div>
        </div>
        <div class="card-body card-pasta bg-orange">
          <div class="table-responsive ">
            <table class="table table-striped ">
              <h4 class="card-title">Agenda</h4>
              <!--<a href="https://calendar.google.com/calendar/u/0/r?cid=sixdevsfatec@gmail.com" target="_blank">
                <h2>Ver Agenda no aplicativo</h2>
              </a>-->
              <iframe class="col-lg"
                src="https://calendar.google.com/calendar/embed?height=842&wkst=1&bgcolor=%23F09300&ctz=America%2FSao_Paulo&showNav=1&showTitle=0&mode=WEEK&hl=pt_BR&showPrint=0&showTabs=1&showCalendars=0&showTz=1&title=Street%20Wise%20Agenda&src=c2l4ZGV2c2ZhdGVjQGdtYWlsLmNvbQ&color=%23039BE5"
                style="border:solid 1px #777" width="1000" height="842" frameborder="0" scrolling="no"></iframe>
              </form>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>