<div class="row">
  <div class="content-wrapper">
    <div class="col-lg-11 grid-margin stretch-card">
      <div class="row col-sm">
        <div id="ordem-ativo" class="col-auto pasta-ordem">
          <a href="/agenda">Agenda</a>
        </div>
        <div id="ordem" class="col-auto  pasta-ordem">
          <a href="/teste">Novo evento</a>
        </div>
      </div>
      <div class="card-body card-pasta bg-orange">
        <div class="table-responsive">
          <table class="table table-striped">
            <h4 class="card-title">Agenda</h4>
            <iframe src="https://calendar.google.com/calendar/embed?src=sixdevsfatec%40gmail.com&ctz=America%2FSao_Paulo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </table>
        </div>
      </div>
    </div>  
  </div>
</div>

