<!-- a pag de dashboard é a própria pagina main.handlebars-->

<<<<<<< HEAD
<!--<header class="header">
        <div class="left-section">
        </div>
        <div class="middle-section">
            <img class="street-name" src="/img/streetwise-name.svg">
        </div>
        <div class="right-section">
            <div class="profile-hud">
                <img class="profile-img" src="/img/profile.svg">
                <div class="profile-text">
                    <div class="profile-nome">Placeholder</div>
                    <div class="profile-cargo">Administrador</div>
                </div>

            </div>
            
        </div>
    </header>
 <input type="checkbox" id="caixa" nome="caixa">
  <nav class="sidebar" id="sidebar-offcanvas">
    
    <div class="option-container">
      <div class="option-flex">
        <div class="option-hamburguer">
          <label for="caixa">
            <i id="toggle-btn" class="bi bi-list icon-white"></i></label>
        </div>
        <div  id="gear" class="option-gear">
          <li class="dropdown dropdown-list ">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-gear icon-white abc"></i>
            </a>
            <ul class="dropdown-menu ">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-key"></i>
                  <span >Alterar senha</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-box-arrow-right icon-drop"></i>
                  <span>Sair</span>
                </a>
              </li>
            </ul>
          </li>
        </div>
=======
<header class="header">
  <div class="left-section">
  </div>
  <div class="middle-section">
    <img class="street-name" src="/img/streetwise-name.svg">
  </div>
  <div class="right-section">
    <div class="profile-hud">
      <img class="profile-img" src="/img/profile.svg">
      <div class="profile-text">
          <div class="profile-nome">Placeholder</div>
          <div class="profile-cargo">Administrador</div>
      </div>
    </div>
  </div>
</header>


<input type="checkbox" id="caixa" nome="caixa">
<nav class="sidebar" id="sidebar-offcanvas">
  <div class="option-container">
    <div class="option-flex">
      <div class="option-hamburguer">
        <label for="caixa">
          <i id="toggle-btn" class="bi bi-list icon-white"></i></label>
      </div>
      <div  id="gear" class="option-gear">
        <li class="dropdown dropdown-list ">
          <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear icon-white abc"></i>
          </a>
          <ul class="dropdown-menu ">
            <li>
              <a class="dropdown-item" href="#">
                <i class="bi bi-key"></i>
                <span >Alterar senha</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="bi bi-box-arrow-right icon-drop"></i>
                <span>Sair</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>

  <div class="logo-container" id="logo-animation">
    <img id="logo-expended" class="logo-img" src="logo.svg">
    <img id="logo-small" class="logo-img-small" src="logo-small.svg">
  </div>

<<<<<<< HEAD
        <li class="nav-item ">
          <a class="nav-link" href="listar-colaboradores">
            <i class="bi bi-clipboard icon-white abc"></i>
            <span class="menu-title">Visualizar</span>
          </a>
        </li>
      </ul>
    </nav>
  </nav>-->

