<div class="container">
  <div class="row justify-content-md-center">
    <div class="logo-error">
      <img src="/img/error-logo.svg">
    </div>
    <div class="cont">
      <div class="text-error text-center">
        ERRO.
      </div>
    </div>
    <a href="dashboard"><button type="submit" class="btn btn-primary mr-2 botao">Voltar a Dashboard</button></a>
  </div>
</div>