<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Usuários</h4>
            <p class="card-description">
            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>antecendetes cirurgico?
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>tratamento cirurgico?  
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>antecendetes alergicos?
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>fuma regularmente?
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>é gestante?
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>faz algum tratamento medico? 
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>ja usou acidos na pele?
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>portador de marca passo?
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>hipertenção?
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>
                                        <th>epilepsia? 
                                           <button class="btn btn-secondary">sim </button>
                                           <button class="btn btn-secondary">não</button>
                                        </th>

                                    </tr>
                                </thead>     