<div class="main-panel ">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                
                    <div class="row col-sm">
                        <div id="ordem-ativo" class="col-auto pasta-ordem">
                            <a href="/listar-usuarios">Lista de Usuario</a>
                        </div>
                        <div id="ordem" class="col-auto  pasta-ordem">
                            <a href="/novo-usuario">Cadastrar Novo Usuario</a>
                        </div>
                    </div>
                
                <div class="card-body card-pasta bg-orange">

                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th>ID Colaborador</th>
                                    <th>Usuário</th>
                                    <th>Senha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {{#each usuarios}} {{#dataValues}}
                            <tbody>
                                <tr>
                                    <td class="py-1">{{fk_colaborador}}</td>
                                    <td>{{usuario}}</td>
                                    <td>*****</td>
                                    <td>
                                        <a href="/editar-usuario/{{id_usuario}}" style="color:inherit"><i class="bi bi-pencil"></i></a>

                                        <a href="/excluir-usuario/{{id_usuario}}" style="color:inherit"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            {{/dataValues}}
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   