<main>
    <div class="login-container " id="login-container">
        <div class="form-container bg-transparent">
            <form class="form form-login" action="/login" method="POST">
                <img src="/img/logo.svg">
                <h2 class="form-title">Login</h2>
                
                
                <div class="form-input-container">
                    <div class="mb-3 text-start">
                        <input type="text" name="usuarioLogin" id="usuarioLogin" class="usuario " placeholder="Usuário">
                    </div>
                    <div class="mb-3 text-start">
                        <input type="password" name="senhaLogin" id="senhaLogin" class="senha" placeholder="Senha">
                    </div>
                </div>
                <div class="mb-3 text-start">
                    <button type="submit" class="form-button">Logar</button>
                </div>
                
            </form>
                
    
        </div>
    </div>
</main>