<!-- formulário de teste da linkagem de ficha-->
<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
          <h4 class="card-title">Ficha Anamnese</h4>
          <p class="card-description"> Cadastro de ficha</p>
          {{#each cliente}}
          {{#dataValues}}
            <form class="forms-sample" action="/cadastrar-ficha" method="POST">
              <div class="form-group">
                <label class="form-label">ID Cliente:</label>
                <input type="hidden" name="id_cliente_ficha" class="form-control" id="id_cliente_ficha" value="{{id_cliente_ficha}}"> 

                <label class="form-label">1º Alergia:</label>
                <input type="text" name="alergia1" class="form-control" id="alergia1" value="{{alergia1}}">
              </div>

              <div class="form-group">
                <label class="form-label">1º Medicação:</label>
                <input type="text" name="medicacao1" class="form-control" id="medicacao1" value="{{medicacao1}}">
              </div>

              <div class="form-group">
                <label class="form-label">1º Doença:</label>
                <input type="text" name="doenca1" class="form-control" id="doenca1" value="{{doenca1}}">
              </div>

              
              
              <button type="submit" class="btn btn-primary mr-2">Cadastrar</button>
              <button class="btn btn-secondary ml-2"><a href="/listar-cliente">Cancelar</a></button>
            </form>
            {{/dataValues}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
