<!--<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-primary">
            <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">StreetWise Tattoo Management</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" aria-current="page" href="/novo-colaborador">Cadastrar Colaborador</a>
                            <a class="nav-link" href="/listar-colaboradores">Listar Colaboradores</a>
                            <a class="nav-link active" href="/novo-usuario">Cadastrar Usuario</a>
                            <a class="nav-link" href="/listar-usuarios">Listar Usuarios</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <p class="text-start fs-5">Cadastro de Novos Usuarios</p>
        
            
        
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>-->



<div class="main-panel">
    <div class="content-wrapper  ">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="row col-sm">
                    <div id="ordem" class="col-auto pasta-ordem">
                        <a href="/listar-usuarios">Lista de Usuario</a>
                    </div>
                    <div id="ordem-ativo" class="col-auto  pasta-ordem">
                        <a href="/novo-usuario">Cadastrar Novo Usuario</a>
                    </div>
                </div>
                <div class="card-body  card-pasta ">
                    <div class="table-responsive ">
                        <table class="table table-striped ">
                            <h4 class="card-title">Usu치rios</h4>
                            <p class="card-description text-white">
                                Cadastro de Usu치rios do Sistema
                            </p>
                            <form action="/novo-usuario" method="POST">
                                <div class="mb-3 text-start">
                                    <label class="form-label">Usuario:</label>
                                    <input type="text" name="usuario" class="form-control" id="usuario">
                                </div>
                                <div class="mb-3 text-start">
                                    <label class="form-label">ID Colaborador:</label>
                                    <input type="text" name="fk_colaborador" class="form-control"
                                        id="fk_colaborador">
                                </div>
                                <div class="mb-3 text-start">
                                    <label class="form-label">Senha:</label>
                                    <input type="text" name="senha" class="form-control" id="senha">
                                </div>
                                <div class="mb-3 text-start">
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    
                                </div>
                            </form>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <!--<div class="card">
            <div class="card-body">
                <h4 class="card-title">Usu치rios</h4>
                <p class="card-description">
                    Cadastro de Usu치rios do Sistema
                </p>
                <form action="/novo-usuario" method="POST">
                    <div class="mb-3 text-start">
                        <label class="form-label">Usuario:</label>
                        <input type="text" name="usuario" class="form-control" id="usuario">
                    </div>
                    <div class="mb-3 text-start">
                        <label class="form-label">ID Colaborador:</label>
                        <input type="text" name="fk_colaborador" class="form-control" id="fk_colaborador">
                    </div>
                    <div class="mb-3 text-start">
                        <label class="form-label">Senha:</label>
                        <input type="text" name="senha" class="form-control" id="senha">
                    </div>
                    <div class="mb-3 text-start">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button class="btn btn-secondary ml-2"><a href="/listar-usuarios">Cancelar</a></button>
                    </div>
                </form>
            </div>
        </div>-->
    </div>
</div>