<div class="main-panel">
    <div class="content-wrapper bg-transparent">
        <div class="row col-sm">
            <div id="ordem" class="col-auto pasta-ordem">
                <a href="/listar-usuarios">Lista de Usuario</a>
            </div>
            <div id="ordem-ativo" class="col-auto  pasta-ordem">
                <a href="/novo-usuario">Cadastrar Novo Usuario</a>
            </div>
        </div>
        <div class="card-body  card-pasta ">
            <div class="table-responsive ">
                <table class="table table-striped ">
                    <h4 class="card-title">Usuários</h4>
                    <form action="/novo-usuario" method="POST">
                        <div class="mb-3 text-start">
                            <label class="form-label">Usuario:</label>
                            <input type="text" name="usuario" class="form-control" id="usuario">
                        </div>
                        <div class="mb-3 text-start">
                            <label class="form-label">ID Colaborador:</label>
                            <input type="text" name="fk_colaborador" class="form-control" id="fk_colaborador">
                        </div>
                        <div class="mb-3 text-start">
                            <label class="form-label">Senha:</label>
                            <input type="text" name="senha" class="form-control" id="senha">
                        </div>
                        <div class="mb-3 text-start">
                            <button type="submit" class="butn butn-primary">Cadastrar</button>
                            <button class="butn butn-secondary ml-2"><a href="/listar-usuarios">Cancelar</a></button>
                        </div>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>