

    <div class="main-panel">        
        <div class="content-wrapper">
            <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Colaboradores</h4>
                        <p class="card-description">
                        Cadastro de Colaboradores
                        </p>
                        <form class="forms-sample" action="/cadastrar-colaborador" method="POST">
                            <div class="form-group">
                                <label class="form-label">Nome:</label>
                                <input type="name" name="nome" class="form-control" id="nome">
                            </div>
                            <div class="form-group">
                                <label class="form-label">CPF:</label>
                                <input type="text" name="cpf" class="form-control" id="cpf">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Telefone:</label>
                                <input type="text" name="telefone" class="form-control" id="telefone">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Origem:</label>
                                <select name="origem" class="form-select" aria-label="Default select example">
                                    <option value="celular" selected>Celular</option>
                                    <option value="whatsapp">Whatsapp</option>
                                    <option value="telefone_fixo">Telefone Fixo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email:</label>
                                <input type="email" name="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Rede Social:</label>
                                <input type="text" name="redeSocial" class="form-control" id="redeSocial">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Tipo: </label>
                                <input type="text" name="tipo" class="form-control" id="tipo">
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Cadastrar</button>
                            <button class="btn btn-light">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
