<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ficha de Anamnese (Backup 1699671702750)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:8081/css/pdf-html.css">
</head>

<body>
    <div style="width: 210mm;height: 297mm;">
        <section class="p-1">
            <div class="container">
                <div class="text-center p-1">
                    <p class="fs-2 fw-bold mb-2">STREETWISE TATTOO</p>
                    <h1 class="fw-bold mb-4">FICHA DE ANAMNESE</h1>
                </div>
            </div>
        </section>
        
        <div style="padding-right: 48px;padding-left: 48px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr style="margin: 0px;padding-bottom:20px;">
                        <form method="post" style="height: 201px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3" style="display: flex;position: relative;margin: 0px;margin-bottom: 0px;">
                                        <div class="col-sm-4" style="width: 42px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;font-size: 12px;" for="nombre">Nome:</label></div>
                                        <div class="col-sm-8" style="width: 366px;"><input class="form-control" type="text" name="nombre" style="width: 366px;height: 25px;text-align: left;"></div>
                                        <div class="col-sm-4" style="width: 80px;padding-left: 10px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;font-size: 12px;" for="nombre">Data Nasc.:</label></div>
                                        <div class="col-sm-8" style="width: 187px;"><input class="form-control" name="nombre" style="width: 187px;height: 25px;"></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;margin: 0px;margin-bottom: 0px;">
                                        <div class="col-sm-4" style="width: 66px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;width: 88px;font-size: 12px;" for="nombre">Ocupação:</label></div>
                                        <div class="col-sm-8" style="width: 278.109px;"><input class="form-control" type="text" name="nombre" style="width: 278.109px;height: 25px;"></div>
                                        <div class="col-sm-4" style="width: 58px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;width: 75px;padding-left: 10px;font-size: 12px;" for="nombre">Celular:</label></div>
                                        <div class="col-sm-8" style="width: 273.1px;"><input class="form-control" type="text" name="nombre" style="width: 273.1px;height: 25px;"></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;margin: 0px;margin-bottom: 0px;">
                                        <div class="col-sm-4" style="width: 61px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;width: 89px;font-size: 12px;" for="nombre">Endereço:</label></div>
                                        <div class="col-sm-8" style="width: 615.109px;"><input class="form-control" type="text" name="nombre" style="width: 615.109px;height: 25px;"></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;margin: 0px;margin-bottom: 0px;">
                                        <div class="col-sm-4" style="width: 36px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;width: 36px;font-size: 12px;" for="nombre">RG:</label></div>
                                        <div class="col-sm-8" style="width: 291.109px;"><input class="form-control" type="text" name="nombre" style="width: 291.109px;height: 25px;"></div>
                                        <div class="col-sm-4" style="width: 47px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;width: 47px;padding-left: 10px;font-size: 12px;" for="nombre">CPF:</label></div>
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 302px;height: 25px;"></div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 0px;">
                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Está em tratamento médico?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Diabetes?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 35px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 328px;height: 25px;" placeholder="Especifique:"></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;padding-left: 20px;">
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 329px;height: 25px;" placeholder="Especifique:"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Alguma cirurgia recente?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Histórico de convulsões?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 35px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 328px;height: 25px;" placeholder="Especifique:"></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;padding-left: 20px;">
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 329px;height: 25px;" placeholder="Especifique:"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Possui alguma alergia?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Doenças infectocontagiosas?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 35px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 328px;height: 25px;" placeholder="Especifique:"></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;padding-left: 20px;">
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 328px;height: 25px;" placeholder="Especifique:"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Problemas cardíacos?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Tem hipo/hipertensão?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Algum tipo de câncer?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Já teve quadro de anemia?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Fez/faz uso de drogas?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Hemofilia?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Problema de cicatrização?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 233px;padding-left: 10px;"><label class="col-form-label" for="enMantenimiento" style="width: 233px;padding-left: 10px;">Tem algum tipo de hepatite?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: block;height: 30px;">
                                    <div class="form-group mb-3" style="display: flex;width: 355.109px;">
                                        <div class="col-sm-4 align-items-center" style="display: flex;width: 572px;padding-left: 0px;"><label class="col-form-label" for="enMantenimiento" style="width: 572px;padding-left: 0px;">Algum outro problema que seja necessário nos informar?</label></div>
                                        <div class="col-sm-8 col-xxl-6 align-items-center" style="width: 122px;text-align: center;display: flex;"><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">SIM</label><input class="align-items-center" type="checkbox" name="enMantenimiento" style="width: 30px;text-align: center;padding: 0px;"><label class="form-label text-start align-items-baseline" for="enMantenimiento" style="width: 302px;padding-left: 10px;font-size: 12px;height: 12px;">NÃO</label></div>
                                    </div>
                                </div>
                                <div class="col-md-12 justify-content-around" style="display: flex;">
                                    <div class="form-group mb-3" style="display: flex;width: 667px;">
                                        <div class="col-sm-8" style="width: 302px;"><input class="form-control" type="text" name="nombre" style="width: 671px;height: 25px;" placeholder="Especifique:"></div>
                                    </div>
                                </div>
                                <hr style="margin: 0px;">
                                <div class="col-sm-4 flex-column" style="display: flex;width: 649px;padding-left: 0px;margin-left: 15px;padding: 20px 0px;"><span style="width: 670px;font-style: italic;text-align: justify;padding-bottom: 10px;">Declaro que as informações acima são verdadeiras, não cabendo ao profissional quaisquer responsabilidades por informações omitidas nessa avaliação.</span><span style="width: 670px;font-style: italic;text-align: justify;padding-bottom: 10px;">Comprometo-me a seguir todos os cuidados necessários após o procedimento.</span><span style="width: 670px;font-style: italic;text-align: justify;padding-bottom: 10px;">Em caso de tatuagem, estou ciente de que o processo tem carácter permanente, não sendo garantido a total remoção, mesmo com recurso à recente tecnologia de remoção de tatuagens.</span><span style="width: 670px;font-style: italic;text-align: justify;padding-bottom: 10px;">Tenho conhecimento que o trabalho será realizado em condições de segurança e higiene recorrendo a instrumentos esterilizados e/ou descartáveis.</span>
                                    <div class="form-group mb-3" style="display: flex;position: relative;margin: 0px;margin-bottom: 0px;">
                                        <div class="col-sm-4" style="width: 80px;padding-left: 10px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;font-size: 12px;" for="nombre">Data Atual:</label></div>
                                        <div class="col-sm-8" style="width: 187px;"><input class="form-control" name="nombre" style="width: 187px;height: 25px;"></div>
                                        <div class="col-sm-4" style="width: 76px;padding-left: 10px;"><label class="col-form-label" style="font-family: Lato, sans-serif;font-weight: normal;font-size: 12px;" for="nombre">Assinatura:</label></div>
                                        <div class="col-sm-8" style="width: 308px;"><input class="form-control" type="text" name="nombre" style="width: 328px;height: 25px;text-align: left;"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>