<div class="">
  <div class="">
    <div class="container">
      <div class="text-center">
        <div class="col-auto bg-white">
          <div class="logo-error ">
            <img src="/img/error-logo.svg">
          </div>
          <div class="cont">
            <div class="text-error">
              A página em que você tentou<br>acessar não existe
            </div>
          </div>

          <a href="dashboard"><button type="submit" class="btn btn-primary mr-2 botao">Voltar a Dashboard</button></a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-6 d-flex text-center bg-white">
    <div class="text-center">
      <div class="logo-error">
        <img src="/img/error-logo.svg">
      </div>
      <div class="cont">
        <div class="text-error">
          A página em que você tentou<br>acessar não existe
        </div>
      </div>

      <a href="dashboard"><button type="submit" class="btn btn-primary mr-2 botao">Voltar a Dashboard</button></a>
    </div>

  </div>
</div>