<div class="col-lg-11  bg-orange shadow rounded position-absolute top-50 start-50 translate-middle">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="p-1 col-sm-7  text-center  ">
        <dt class=" h1 mt-5">
          Opa, rolou algum erro :( !
        </dt>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="mt-5 btn-lg btn btn-dark" onclick="goBack()">Voltar</button>
        </div>


      </div>
      <div class="mt-3 mb-3 p-2 col-sm-5 text-center float-end">
        <img src="/img/logo-erro-preto.svg" alt="logo erro">
      </div>
    </div>
  </div>
</div>