<div class="row">
  <div class="content-wrapper">
    <div class="col-lg-12  grid-margin stretch-card">
      <div class="row col-sm">
        <div>
            <img src="/public/img/streetwise-name.svg" alt="marca">
        </div>
        <div>
            <img src="/public/img/error-logo.svg" alt="logo">
        </div>
        <div class="text">
            Algo de errado não está certo, pegue o caminho de volta! :p
        </div>
        <a class="nav-link" href="dashboard"><button type="submit" class="btn btn-primary mr-2" href="/views/dashboard.handlebars">Voltar a Dashboard</button></a>
      </div>
    </div>
  </div>
</div>  