<div class="row">
  <div class="content-wrapper">
    <div class="col-lg-12  grid-margin stretch-card">
      <div class="row col-sm">
        <div class="frango">
            <img src="/public/img/logo.svg" alt="logo">
        </div>
        <div class="street">
            <img src="/public/img/streetwise-name.svg" alt="marca">
        </div>
        <div class="text" id="refresh">
            Algo de errado não está certo, pegue o caminho de volta! :p
        </div>
        <button type="submit" id="refresh-btn" class="btn btn-primary mr-2" href="/views/dashboard.handlebars">Voltar a Dashboard</button>
      </div>
    </div>
  </div>
</div>  