.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: block;
    background: #333232;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.left-section {
    width: 240px;
}

.middle-section{
    width: 306px;
    margin:22.5px 0;
}

.rigth-section{
    width: 240px;  
}

.profile-hud {
    display: grid;
    grid-template-columns: 35px 175px;
    column-gap: 10px;
    text-align: left;
    margin: 20px 0;
}

.profile-nome{
    display: block;
    font-family: 'Inter', sans-serif;
    color: #fefefe;
    font-size: 15px;
}

.profile-cargo{
    display: block;
    font-family: 'Inter', sans-serif;
    color: #ffb340;
    font-size: 15px;
}


@media only screen and (max-width: 850px) {
    .street-name {
        height: 40px;
        width: 180px;
        
    }
    .middle-section{
    height: 40px;
    margin:22.5px 0;
    text-align: center;
    }
  }



  /*FIM HEADER */

  .bi{
    font-size: 20px;
  }
  
  .icon-white {
    color: #fefefe;
  }
  
  .icon-drop{
    font-size: 15px;
  }
  
  .senha {
    font-size: 10px;
  }
  
  .sidebar {
    top: 0;
    min-height: calc(100vh - 60px);
    font-weight: normal;
    position: absolute;
    height: 100%;
    display: flex ;
    flex-direction: column;
    background-color: #F49200;
    width: 150px;
    transition: 0.8s;
    z-index: 200;
  }
  
  
  .option-container {
    align-items: center;
    margin: 20px 24px 50px 24px;
  }
  
  .option-flex {
    display: flex;
    justify-content: space-between;
  }
  
  .dropdown-list {
    list-style: none;
  }
  
  .logo-container {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .logo-img {
    height: 100px;
    width: 100px;
    display:inline-block;
    text-align: center;
    opacity: 1;
    transition: opacity 10s ease;
  }
  
  .logo-img-small {
    margin-top: 19px;
    height: 60px;
    width: 50px;
    display: none;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #caixa {
    height: 25px;
    width: 25px;
    display: none;
    visibility: hidden;
  }
  
  
  .nav-container{
    display: grid;
    justify-content: center;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item{
    transition:0.5s;
    padding: 10px 15px;
  }
  
  .nav-item-box-down {
    box-shadow: 0 1px 0 #fefefe;
  }
  
  
  
  .nav-item:hover {
    background-color: #ffb340;
  }
  
  .nav-icon {
    width: 25px;
    height: 25px;
  }
  
  .menu-title {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #fefefe;
    display: inline-block;
  }

/*Margem aberto*/
.caixa::after .content-wrapper{
  margin-left: 60px;
}
