.card-pasta {
  border-radius: 0px 12px 12px 12px;
  background-color: #F09000;
  box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.25) inset;
}

.pasta-ordem {
  background-color: #875101;
  border-radius: 6px 20px 0px 0px;
}

.pasta-ordem a {
  text-decoration: none;
  color: #000000;
}

.pasta-ordem a:hover .pas {
  text-decoration: none;
  background-color: #F09000;
}

.teste {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#ordem-ativo {
  background-color: #F09000;
}

#ordem:active #ordem-ativo {
  background-color: #875101;
}

#ordem:active {
  background-color: #F09000;
}

#ordem:hover{
  text-decoration: none;
  background-color: #F09000;
}


/*--------------------form--------------------------*/

.bg-orange{
  border-radius: 0px 12px 12px 12px;
  background-color: #F09000;
}

.borda-redonda{
  border-radius: 12px 12px 12px 12px;
}

/*--------------icone do lado ------------*/

/*.btn-fixed{
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: visible;
  width: 60px;
  height: 60px;
  background-color: aqua;
  border-radius: 50%;
  text-align: center;
  background-image: url(/img/ye.jpg);
}*/
