.login-container{
  position: relative;
  height: 480px;
  width: 384px;
  border-radius: 12px;
  box-shadow: 1px 10px 20px var(--shadow-color);  
  overflow: hidden;
  background-color: var(--text-color-light);
  

}

.form-container{
  height: 100%;
  width: 100%;
  display: flex;
}
.form-social{
  display: flex;
  gap: 24px;
}

.form-input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.usuario{
  font-size: 15px;
  height: 40px;
  width: 300px;
  padding: 10px 20px;
  border-style: none;
  background-color: var(--text-color-light);
  
}
.colaborador{
  height: 40px;
  width: 300px;
  padding: 10px 20px;
  border-style: none;
  background-color: var(--text-color-light);
  
}


.senha{
  font-size: 15px;
  height: 40px;
  width: 300px;
  padding: 10px 20px;
  border-style: none;
  background-color: var(--text-color-light);
  
}
@media (max-width:768px){
  .login-container{
      width: 100vw;
      height: 100vh;
      box-shadow: none;
      border-radius: 0%;
      background-color: var(--blue-color2);
  }
}