/* Forms */
.form-group {
  margin-bottom: 1.5rem;
}

.input-group-append,
.input-group-prepend {
  color: #666666;
  width: auto;
  border: none;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  border-color: #e4e6f6;
  padding: 0.875rem 0.75rem;
  color: #666666;
}

.form-control, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead,
.tt-query,
.tt-hint {
  border: 1px solid #e4e6f6;
  font-weight: 400;
  font-size: 0.875rem;
  height: auto;
}

select.form-control, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead,
select.tt-query,
select.tt-hint {
  padding: .4375rem .75rem;
  border: 0;
  outline: 1px solid #e4e6f6;
  color: #666666;
}

select.form-control:focus, .select2-container--default select.select2-selection--single:focus, .select2-container--default .select2-selection--single select.select2-search__field:focus, select.typeahead:focus,
select.tt-query:focus,
select.tt-hint:focus {
  outline: 1px solid #e4e6f6;
}

select.form-control.border-primary, .select2-container--default select.border-primary.select2-selection--single, .select2-container--default .select2-selection--single select.border-primary.select2-search__field, select.border-primary.typeahead,
select.border-primary.tt-query,
select.border-primary.tt-hint {
  outline: 1px solid #ec37fc;
}

select.form-control.border-primary:focus, .select2-container--default select.border-primary.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-primary.select2-search__field:focus, select.border-primary.typeahead:focus,
select.border-primary.tt-query:focus,
select.border-primary.tt-hint:focus {
  outline: 1px solid #ec37fc;
}

select.form-control.border-secondary, .select2-container--default select.border-secondary.select2-selection--single, .select2-container--default .select2-selection--single select.border-secondary.select2-search__field, select.border-secondary.typeahead,
select.border-secondary.tt-query,
select.border-secondary.tt-hint {
  outline: 1px solid #e4e6f6;
}

select.form-control.border-secondary:focus, .select2-container--default select.border-secondary.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-secondary.select2-search__field:focus, select.border-secondary.typeahead:focus,
select.border-secondary.tt-query:focus,
select.border-secondary.tt-hint:focus {
  outline: 1px solid #e4e6f6;
}

select.form-control.border-success, .select2-container--default select.border-success.select2-selection--single, .select2-container--default .select2-selection--single select.border-success.select2-search__field, select.border-success.typeahead,
select.border-success.tt-query,
select.border-success.tt-hint {
  outline: 1px solid #51c81c;
}

select.form-control.border-success:focus, .select2-container--default select.border-success.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-success.select2-search__field:focus, select.border-success.typeahead:focus,
select.border-success.tt-query:focus,
select.border-success.tt-hint:focus {
  outline: 1px solid #51c81c;
}

select.form-control.border-info, .select2-container--default select.border-info.select2-selection--single, .select2-container--default .select2-selection--single select.border-info.select2-search__field, select.border-info.typeahead,
select.border-info.tt-query,
select.border-info.tt-hint {
  outline: 1px solid #3794fc;
}

select.form-control.border-info:focus, .select2-container--default select.border-info.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-info.select2-search__field:focus, select.border-info.typeahead:focus,
select.border-info.tt-query:focus,
select.border-info.tt-hint:focus {
  outline: 1px solid #3794fc;
}

select.form-control.border-warning, .select2-container--default select.border-warning.select2-selection--single, .select2-container--default .select2-selection--single select.border-warning.select2-search__field, select.border-warning.typeahead,
select.border-warning.tt-query,
select.border-warning.tt-hint {
  outline: 1px solid #fcb41d;
}

select.form-control.border-warning:focus, .select2-container--default select.border-warning.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-warning.select2-search__field:focus, select.border-warning.typeahead:focus,
select.border-warning.tt-query:focus,
select.border-warning.tt-hint:focus {
  outline: 1px solid #fcb41d;
}

select.form-control.border-danger, .select2-container--default select.border-danger.select2-selection--single, .select2-container--default .select2-selection--single select.border-danger.select2-search__field, select.border-danger.typeahead,
select.border-danger.tt-query,
select.border-danger.tt-hint {
  outline: 1px solid #fc381d;
}

select.form-control.border-danger:focus, .select2-container--default select.border-danger.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-danger.select2-search__field:focus, select.border-danger.typeahead:focus,
select.border-danger.tt-query:focus,
select.border-danger.tt-hint:focus {
  outline: 1px solid #fc381d;
}

select.form-control.border-light, .select2-container--default select.border-light.select2-selection--single, .select2-container--default .select2-selection--single select.border-light.select2-search__field, select.border-light.typeahead,
select.border-light.tt-query,
select.border-light.tt-hint {
  outline: 1px solid #dee5ef;
}

select.form-control.border-light:focus, .select2-container--default select.border-light.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-light.select2-search__field:focus, select.border-light.typeahead:focus,
select.border-light.tt-query:focus,
select.border-light.tt-hint:focus {
  outline: 1px solid #dee5ef;
}

select.form-control.border-dark, .select2-container--default select.border-dark.select2-selection--single, .select2-container--default .select2-selection--single select.border-dark.select2-search__field, select.border-dark.typeahead,
select.border-dark.tt-query,
select.border-dark.tt-hint {
  outline: 1px solid #001737;
}

select.form-control.border-dark:focus, .select2-container--default select.border-dark.select2-selection--single:focus, .select2-container--default .select2-selection--single select.border-dark.select2-search__field:focus, select.border-dark.typeahead:focus,
select.border-dark.tt-query:focus,
select.border-dark.tt-hint:focus {
  outline: 1px solid #001737;
}

.form-group label {
  font-size: 0.875rem;
  line-height: 1.4rem;
  vertical-align: top;
  margin-bottom: .5rem;
}

.form-group.has-danger .form-control, .form-group.has-danger .select2-container--default .select2-selection--single, .select2-container--default .form-group.has-danger .select2-selection--single, .form-group.has-danger .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .form-group.has-danger .select2-search__field, .form-group.has-danger .typeahead,
.form-group.has-danger .tt-query,
.form-group.has-danger .tt-hint {
  border-color: #fc381d;
}

.form-group .file-upload-default {
  visibility: hidden;
  position: absolute;
}

.form-group .file-upload-info {
  background: transparent;
}


.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 240px);
  min-height: calc(100vh - 60px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 125px
}

@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: #f4f7fa;
  padding: 2.5rem 2.5rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .content-wrapper {
    padding: 1.5rem 1.5rem;
  }
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e4e6f6;
  border-radius: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card .card-description {
  margin-bottom: .875rem;
  font-weight: 400;
  color: #76838f;
}

/* BTN*/


.btn, .ajax-upload-dragdrop .ajax-file-upload {
  display: inline-block;
  font-weight: 400;
  color: #666666;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.687rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.1875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn, .ajax-upload-dragdrop .ajax-file-upload {
    transition: none;
  }
}

.btn:hover, .ajax-upload-dragdrop .ajax-file-upload:hover {
  color: #666666;
  text-decoration: none;
}

.btn:focus, .ajax-upload-dragdrop .ajax-file-upload:focus, .btn.focus, .ajax-upload-dragdrop .focus.ajax-file-upload {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .ajax-upload-dragdrop .disabled.ajax-file-upload, .btn:disabled, .ajax-upload-dragdrop .ajax-file-upload:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled), .ajax-upload-dragdrop .ajax-file-upload:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled, .ajax-upload-dragdrop a.disabled.ajax-file-upload,
fieldset:disabled a.btn,
fieldset:disabled .ajax-upload-dragdrop a.ajax-file-upload,
.ajax-upload-dragdrop fieldset:disabled a.ajax-file-upload {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #ec37fc;
  border-color: #ec37fc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #e811fb;
  border-color: #e705fb;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #e811fb;
  border-color: #e705fb;
  box-shadow: 0 0 0 0.2rem rgba(239, 85, 252, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ec37fc;
  border-color: #ec37fc;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e705fb;
  border-color: #dc04f0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(239, 85, 252, 0.5);
}

.btn-secondary {
  color: #212529;
  background-color: #e4e6f6;
  border-color: #e4e6f6;
}

.btn-secondary:hover {
  color: #212529;
  background-color: #c7cbec;
  border-color: #bec3e9;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #212529;
  background-color: #c7cbec;
  border-color: #bec3e9;
  box-shadow: 0 0 0 0.2rem rgba(199, 201, 215, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #212529;
  background-color: #e4e6f6;
  border-color: #e4e6f6;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #212529;
  background-color: #bec3e9;
  border-color: #b4bae6;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 201, 215, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #51c81c;
  border-color: #51c81c;
}

.btn-success:hover {
  color: #fff;
  background-color: #43a617;
  border-color: #3f9b16;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #43a617;
  border-color: #3f9b16;
  box-shadow: 0 0 0 0.2rem rgba(107, 208, 62, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #51c81c;
  border-color: #51c81c;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #3f9b16;
  border-color: #3a9014;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(107, 208, 62, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #3794fc;
  border-color: #3794fc;
}

.btn-info:hover {
  color: #fff;
  background-color: #1180fb;
  border-color: #0579fb;
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #1180fb;
  border-color: #0579fb;
  box-shadow: 0 0 0 0.2rem rgba(85, 164, 252, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #3794fc;
  border-color: #3794fc;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #0579fb;
  border-color: #0473f0;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(85, 164, 252, 0.5);
}

.btn-warning {
  color: #212529;
  background-color: #fcb41d;
  border-color: #fcb41d;
}

.btn-warning:hover {
  color: #212529;
  background-color: #f0a303;
  border-color: #e39b03;
}

.btn-warning:focus, .btn-warning.focus {
  color: #212529;
  background-color: #f0a303;
  border-color: #e39b03;
  box-shadow: 0 0 0 0.2rem rgba(219, 159, 31, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #fcb41d;
  border-color: #fcb41d;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #e39b03;
  border-color: #d69203;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 159, 31, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #fc381d;
  border-color: #fc381d;
}

.btn-danger:hover {
  color: #fff;
  background-color: #f02003;
  border-color: #e31e03;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #f02003;
  border-color: #e31e03;
  box-shadow: 0 0 0 0.2rem rgba(252, 86, 63, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #fc381d;
  border-color: #fc381d;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #e31e03;
  border-color: #d61c03;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 86, 63, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #dee5ef;
  border-color: #dee5ef;
}

.btn-light:hover {
  color: #212529;
  background-color: #c4d1e3;
  border-color: #bccade;
}

.btn-light:focus, .btn-light.focus {
  color: #212529;
  background-color: #c4d1e3;
  border-color: #bccade;
  box-shadow: 0 0 0 0.2rem rgba(194, 200, 209, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #dee5ef;
  border-color: #dee5ef;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #bccade;
  border-color: #b3c3da;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 200, 209, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #001737;
  border-color: #001737;
}

.btn-dark:hover {
  color: #fff;
  background-color: #000711;
  border-color: #000204;
}

.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background-color: #000711;
  border-color: #000204;
  box-shadow: 0 0 0 0.2rem rgba(38, 58, 85, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #001737;
  border-color: #001737;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #000204;
  border-color: black;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 58, 85, 0.5);
}

.btn-outline-primary {
  color: #ec37fc;
  border-color: #ec37fc;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ec37fc;
  border-color: #ec37fc;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 55, 252, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #ec37fc;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #ec37fc;
  border-color: #ec37fc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 55, 252, 0.5);
}

.btn-outline-secondary {
  color: #e4e6f6;
  border-color: #e4e6f6;
}

.btn-outline-secondary:hover {
  color: #212529;
  background-color: #e4e6f6;
  border-color: #e4e6f6;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(228, 230, 246, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #e4e6f6;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #212529;
  background-color: #e4e6f6;
  border-color: #e4e6f6;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(228, 230, 246, 0.5);
}

.btn-outline-success {
  color: #51c81c;
  border-color: #51c81c;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #51c81c;
  border-color: #51c81c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(81, 200, 28, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #51c81c;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #51c81c;
  border-color: #51c81c;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(81, 200, 28, 0.5);
}

.btn-outline-info {
  color: #3794fc;
  border-color: #3794fc;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #3794fc;
  border-color: #3794fc;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 148, 252, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #3794fc;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #3794fc;
  border-color: #3794fc;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 148, 252, 0.5);
}

.btn-outline-warning {
  color: #fcb41d;
  border-color: #fcb41d;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #fcb41d;
  border-color: #fcb41d;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 180, 29, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #fcb41d;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #fcb41d;
  border-color: #fcb41d;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 180, 29, 0.5);
}

.btn-outline-danger {
  color: #fc381d;
  border-color: #fc381d;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #fc381d;
  border-color: #fc381d;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 56, 29, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #fc381d;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #fc381d;
  border-color: #fc381d;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 56, 29, 0.5);
}

.btn-outline-light {
  color: #dee5ef;
  border-color: #dee5ef;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #dee5ef;
  border-color: #dee5ef;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 229, 239, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #dee5ef;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #dee5ef;
  border-color: #dee5ef;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 229, 239, 0.5);
}

.btn-outline-dark {
  color: #001737;
  border-color: #001737;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #001737;
  border-color: #001737;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 23, 55, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #001737;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #001737;
  border-color: #001737;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 23, 55, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn, .ajax-upload-dragdrop .btn-group-lg > .ajax-file-upload {
  padding: 1rem 3rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
}

.btn-sm, .btn-group-sm > .btn, .ajax-upload-dragdrop .btn-group-sm > .ajax-file-upload {
  padding: 0.5rem 0.81rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}
