.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background: #333232;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.left-section {
    width: 240px;
}

.middle-section{
    width: 306px;
    margin:22.5px 0;
}

.rigth-section{
    width: 240px;  
}

.profile-hud {
    display: grid;
    grid-template-columns: 35px 175px;
    column-gap: 10px;
    text-align: left;
    margin: 20px 0;
}

.profile-nome{
    display: block;
    font-family: 'Inter', sans-serif;
    color: #fefefe;
    font-size: 15px;
}

.profile-cargo{
    display: block;
    font-family: 'Inter', sans-serif;
    color: #ffb340;
    font-size: 15px;
}


@media only screen and (max-width: 850px) {
    .street-name {
        height: 40px;
        width: 180px;
        
    }
    .middle-section{
    height: 40px;
    margin:22.5px 0;
    text-align: center;
    }
  }