<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="left-section">
            oiii
        </div>
        <div class="middle-section">
            <img src="S T R E E T W I S E.svg">
        </div>
        <div class="right-section">
            profile
        </div>
    </header>
</body>
</html>